syntax:glob
aclocal.m4
autom4te*
config.cache
config.log
config.status
Makefile
sdl-config
SDL2.spec
build

# for Xcode
*.orig
*.swp
*.tmp
*.rej
*~
*.o
*.mode1*
*.model*
*.perspective*
*.perspective*
*.pbxuser
(^|/)build($|/)
.DS_Store
Xcode/SDL/SDL.xcodeproj/xcuserdata
Xcode/SDL/SDL.xcodeproj/project.xcworkspace
Xcode/SDLTest/SDLTest.xcodeproj/xcuserdata
Xcode/SDLTest/SDLTest.xcodeproj/project.xcworkspace
Xcode-iOS/SDL/SDL.xcodeproj/xcuserdata
Xcode-iOS/SDL/SDL.xcodeproj/project.xcworkspace
Xcode-iOS/Demos/Demos.xcodeproj/xcuserdata
Xcode-iOS/Demos/Demos.xcodeproj/project.xcworkspace
